<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CRUD</title>
        {{ '{% block stylesheets %}{% endblock %}' }}
        <link rel="shortcut icon" href="{{ "{{ asset('favicon.ico') }}" }}" />
    </head>
    <body>
        <div id="crud">
            <h1>CRUD Generator</h1>
            {{ '{% block body %}{% endblock %}' }}
        </div>
    </body>
</html>
