
                <ul class="record_actions">

                {%- for action in record_actions %}

                    <li class="record_{{ action }}">
                        <a href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">{{ action }}</a>
                    </li>

                {%- endfor %}

                </ul>
