#crud
{
    color: #333;
    font: 12px/20px normal 'Lucida Grande', Arial, Helvetica, sans-serif;
}  

#crud a:link,
#crud a:visited
{
    color: #39c;
    text-decoration: none;
}

#crud a:hover
{
    color: #f03;
    text-decoration: underline;
}
 
/*
 * crud table
 */

#crud table
{
    background: #fff;
    border-collapse: collapse;
}

#crud table tr
{
    border: 1px solid #E7EEF6;
    height: 32px;
    line-height: 32px;
}

#crud table th,
#crud table td
{
    padding: 0 12px;
}

#crud table td
{
    border: 1px solid #E7EEF6;

}

#crud table .odd
{
    background: #f3f9ff;
}

#crud table .even
{
    background: #fff;
}

#crud table th .sort_asc
{
    background: url('../images/asc.png') no-repeat left center; 
    padding-left: 18px;
}

#crud table th .sort_desc
{
    background: url('../images/desc.png') no-repeat left center; 
    padding-left: 18px;
}

#crud table tr:hover td
{
    background: #ffe;
}

#crud table.show th
{
    text-align: left;
}

#crud table.show td
{
    background: #f3f9ff;
}

/*
 * actions
 */

#crud ul.record_actions
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 32px;
}

#crud ul.record_actions li
{
    float: left;
    margin-right: 8px;
    text-indent: 18px;
}

#crud .record_list
{
    background: url('../images/default.png') no-repeat left center;
}

#crud .record_show
{
    background: url('../images/default.png') no-repeat left center;
}

#crud .record_new
{
    background: url('../images/new.png') no-repeat left center;
}

#crud .record_edit
{
    background: url('../images/edit.png') no-repeat left center;
    border: none;
}

#crud .record_delete
{
    background: url('../images/delete.png') no-repeat left center;
}

#crud .record_delete #form
{
    border: none;
}

#crud .record_new
{
    background: url('../images/new.png') no-repeat left center;
}

/* 
 * pager
 */

#crud ul#pager
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#crud ul#pager li
{
    display: inline;
}

#crud ul#pager li a
{
    display: block;
    float: left;
    padding: 4px
}

#crud ul#pager li a.active
{
    background: #E7EEF6;
    color: #fff;
}

/**
 * notifications
 */

#crud div.error
{
    background: #fee url('../images/error.png') no-repeat 8px center;
    border: 1px solid #fcc;
    color: #c00;
    margin-bottom: 8px;
    padding: 6px;
    text-indent: 24px;
}

#crud div.success
{
    background: #efe url('../images/tick.png') no-repeat 8px center;
    border: 1px solid #beb;
    color: #090;
    margin-bottom: 8px;
    padding: 6px;    
    text-indent: 24px;
}

#crud div.notice
{
    background: #ffe url('../images/default.png') no-repeat 8px center;
    border: 1px solid #eeb;
    color: #990;
    margin-bottom: 8px;
    padding: 6px;    
    text-indent: 24px;
}

/**
 * forms
 */
#crud .form_new,
#crud .form_edit
{
    width: 50%;
}

#crud .form_new div,
#crud .form_edit div
{
    background: #f3f9ff;
    border: 1px solid #E7EEF6;
    border-top: none;
}

#crud .form_new div div,
#crud .form_edit div div
{
    border: none;
    border-top: 1px solid #E7EEF6;
    padding: 8px;
}

#crud .form_new div div div,
#crud .form_edit div div div
{
    border: none;
    padding: 0;
}

#crud .form_new label,
#crud .form_edit label
{
    float: left;
    font-weight: bold;
    width: 50%;
}
